/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/surefire-reports/edu.uob.ActionsFileTests.txt
/target/surefire-reports/edu.uob.EntitiesFileTests.txt
/target/surefire-reports/edu.uob.ExampleSTAGTests.txt
/target/surefire-reports/edu.uob.extendedTests.txt
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/TEST-edu.uob.ActionsFileTests.xml
/target/surefire-reports/TEST-edu.uob.EntitiesFileTests.xml
/target/surefire-reports/TEST-edu.uob.ExampleSTAGTests.xml
/target/surefire-reports/TEST-edu.uob.extendedTests.xml
/cw-stag.iml
/.idea/libraries/Maven__com_alexmerz_graphviz_dot_parser_1_0.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_launcher_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_suite_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_suite_api_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_suite_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_suite_engine_1_8_2.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/misc.xml
/.idea/modules.xml
